<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="header-title" (click)="fetchOmdbMovies()">Movies</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon pointer" (click)="fetchMovies()">favorite</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<br/>
<mat-grid-list cols="4" rowHeight="100px">
  <div *ngFor="let movie of movies$">
    <mat-grid-tile colspan="1" rowspan="6">
      <mat-card class="example-card">
        <app-movie-card [title]="movie.Title" [poster]="movie.Poster" [year]="movie.Year"></app-movie-card>
        <mat-card-actions>
          <button mat-button (click)="saveMovie(movie)">Save</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </div>
  <div *ngFor="let movie of dbMovies">
      <mat-grid-tile colspan="1" rowspan="6">
        <mat-card class="example-card">
          <app-movie-card (click)="fetchMovie(movie.id)" [title]="movie.title" [poster]="movie.poster" [year]="movie.year"></app-movie-card>
          <mat-card-actions>
            <button mat-button (click)="deleteMovie(movie)">Delete</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
</mat-grid-list>